
.sidebar {
    color: white;
    width: var(--sidebar-width);
    /* min-height: 100vh; */
    min-height: 635px;
    margin-left:1%;
    position: fixed; 
    top: 15%; 
    left: 0; 
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 10px;
    /* box-shadow: 0 0 20px 5px var(--primary-color);  */
    padding: 30px 20px 20px 20px;
    border-radius: 30px;
    border: 2px solid var(--primary-color);
    z-index: 1;
    background: var(--main-color);
}

.sidebar>h1{
    font-size: 28px;
    margin-bottom: 20px;
    display: flex;
}

.sidebar button{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.sidebar >button .icon{
    margin-right: 10px;
}


li{
    list-style: none;
    /* text-align: center; */
    margin: 0 35px;
}

li button{
    padding: 10px 50px;
    margin-top:25px ;
    background-color: var(--main-color);
    color: white;
    cursor: pointer;
    position: relative;
    z-index: 1;
    overflow: hidden;
    border-radius: 8px;
    border: 2px solid var(--primary-color);
    display: flex;
    align-items: center;
    transition: all 0.5s;
}


li button.active{
    background:var(--primary-color);
    padding: 10px 80px;
}


.button{
    padding: 10px 20px;
    background:var(--primary-color);
    color: white;
    cursor: pointer;
    position: relative;
    z-index: 1;
    overflow: hidden;
    border-radius: 12px;
    border: 2px solid var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 20px 5px var(--primary-color); /* Neon shadow */
    margin-top: 3%;
    min-width:150px; /* Adjust as needed */
    height: 50px; /* Adjust as needed */
}

.button .icon{
    margin-right: 10px;
}

.button::after{
    content: "";
    background:var(--main-color);
    position: absolute;
    z-index: -1;
    left: -20%;
    right: -20%;
    top: 0;
    bottom: 0;
    transform: skewX(-45deg) scale(1, 1);
    transition: all 0.5s;
}

.button:hover::after{
    transform: skewX(-45deg) scale(0, 1);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}